<div class="row">
  <div class="col col-lg-3"> 
    <app-navbar-admin></app-navbar-admin>
  </div>
  <div class="col col-lg-9">
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4>

<!-- Basic Bootstrap Table -->
<div class="card">
  <div class="row card-header">
    <div class="col">
      <h5 class="">Page Inscription</h5>
      </div>
    <div class="col">
      <!-- <button class="btn btn-sm btn-primary" routerLink="/addinscription/{{inscription._id}}">New</button> -->
          </div>
  </div>


  <div *ngFor="let inscription of inscriptions;">
    {{inscription.TitreDeFormation}}
  </div>

    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Mail</th>
            <th>Formation</th>
            <!-- <th>TitreDeFormation</th> -->
            

            <th>Action</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr *ngFor="let inscription of inscriptions;">
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> 
            <td>{{inscription.Nom}}</td>
            <td>{{inscription.Prenom}}</td>
            <td>{{inscription.Mail}}</td>
           
            <td>

                  <button class="btn btn-sm btn-primary" routerLink="/edit-inscription/{{inscription._id}}">Edit</button>
                  <button class="btn btn-sm btn-danger" (click)="delete(inscription._id)">Delete</button>


            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
  <!--/ Basic Bootstrap Table -->
<br>
  <app-formation-form [hidden]="!showForm"></app-formation-form>
  <router-outlet></router-outlet>

</div>
</div>