<!-- Preloader Start -->
<header>
    <!-- Header Start -->
   <div class="header-area header-transparent">
        <div class="main-header">
           <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <!-- <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <li class="add-list"><a routerLink="">Velorution</a></li>
                            </div>
                        </div> -->
                        <div class="col-12">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">                                                                                                                                     
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a routerLink="/listformation">Formation</a></li>
                                        <li><a routerLink="/listeevent">Evenement</a></li>
                                        <li><a routerLink="/listproduit">Produit</a></li>
                                        <li><a routerLink="/listepublication">Forum</a></li>


                                        <li><a href="#">Page</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog_details.html">Blog Details</a></li>
                                                <li><a href="elements.html">Element</a></li>
                                                <li><a href="listing_details.html">Listing details</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                        
                                        <!-- <li class="add-list"><a routerLink=""><i class="ti-plus"></i>add an ad</a></li> -->
                                        <li class="login" ><a routerLink="/login">
                                            <i class="ti-user"></i> Sign in or Register</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
   </div>
    <!-- Header End -->
</header>
<router-outlet></router-outlet>
