<div class="row">
  <div class="col col-lg-3"> 
  </div>
  <div class="col col-lg-9">
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4>

 
 <!-- Basic Layout -->
 <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Modifier Produit</h5>
        <small class="text-muted float-end">Default label</small>
      </div>
      <div class="card-body">
        <form [formGroup]="UpdateForm" (ngSubmit)="onUpdate()">
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-message">Titre De Produit</label>
            <div class="col-sm-10">
                <input
                type="text"
                id="basic-default-text"
                formControlName="titre"
                class="form-control"
                placeholder="tapez le titre de la formation ici."
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-message">Image</label>
            <div class="col-sm-10">
                <input
                type="image"
                id="basic-default-text"
                formControlName="image"
                class="form-control"
                placeholder="inserez l'image."
                
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-company">Price</label>
            <div class="col-sm-10">
              <input
                type="number"
                formControlName="price"
                class="form-control"
                id="basic-default-date"
                placeholder="tapez le prix ici"
              />
            </div>
          </div>
          
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-date">Stock </label>
            <div class="col-sm-10">
              <input
                type="number"
                id="basic-default-phone"
                formControlName="stock"
                class="form-control"
                placeholder="inserez le nombre des produits"
                
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-message">Type</label>
            <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>

