<div class="row">
    <div class="col col-lg-3"> 
      <app-navbar-admin></app-navbar-admin>
    </div>
    <div class="col col-lg-9">
  <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4>
  
  <!-- Basic Bootstrap Table -->
  <div class="card">
    <div class="row card-header">
      <div class="col">
        <h5 class="">Gestion des users</h5>
        </div>
      <div class="col">
        <button class="btn btn-info" (click)="show()" style="float: right">New </button>
            </div>
    </div>
    
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Date Naissance</th>
              <th>Email</th>
              <th>Telephone</th>
              <th>Role</th>
              <th>Action</th>

            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <tr *ngFor="let user of users; let i = index">
              <td><i class="fab fa-angular fa-lg text-danger me-3"></i> 
                  <strong>{{user._id}}</strong></td>
                  <td>{{user.nom}}</td>
                  <td>{{user.prenom}}</td>
                  <td>{{user.date_de_naissance  | date: 'dd/MM/yyyy'}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.telephone}}</td>
                  <td>{{user.role}}</td>
  
              <td class="d-flex ">
                <button class="btn btn-sm btn-primary my-auto mr-3 px-5" (click)="show()" >Show</button>
                <button class="btn btn-sm btn-primary my-auto mr-3 px-5" routerLink="/edit-user/{{user._id}}">Edit</button>
                <button class="btn btn-sm btn-danger my-auto" (click)="deleteUser(user._id)">Delete</button>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->
  <br>
    <!-- <app-evenement-form [hidden]="!showForm"></app-evenement-form> -->
    <app-edit-user [hidden]="!showForm"></app-edit-user>
    <router-outlet></router-outlet>
  
  </div>
  </div>