
        <app-navbar-client></app-navbar-client>
        <div class="slider-area hero-overly">
            <div class="single-slider hero-overly  slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9">
                            <div class="popular-location section-padding30">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- Section Tittle -->
                                            <div class="section-tittle text-center mb-80">
                                                <span>Formation</span>
                                                <h2>Formation</h2>
                                                <li class="add-list"><a routerLink="/addformation"><i class="ti-plus"></i>Ajouter une formation</a></li>
                                                <li class="add-list"><a routerLink="/addinscription"><i class="ti-plus"></i>S'inscrire</a></li>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="single-location mb-30">
                                                <div class="location-img">
                                                    <img src="./assets/img/gallery/formation_velo-enfants.jpg" alt="">
                                                </div>
                                                <div class="location-details">
                                                    <p>Formation Velo Enfants</p> 
                                                    <a href="#" class="location-btn"> <i class="ti-plus"></i> Voir Détails</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="single-location mb-30">
                                                <div class="location-img">
                                                    <img src="./assets/img/gallery/formation-mécanique-cycle.jpg" alt="">
                                                </div>
                                                <div class="location-details">
                                                    <p>Formation Mecanique Cycle</p>
                                                    <a href="#" class="location-btn"><i class="ti-plus"></i> Voir Détails</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="single-location mb-30">
                                                <div class="location-img">
                                                    <img src="./assets/img/gallery/Formation-coach-mobilité-à-vélo.jpg" alt="">
                                                </div>
                                                <div class="location-details">
                                                    <p>Formation Coach</p>
                                                    <a href="#" class="location-btn"> <i class="ti-plus"></i> Voir Détails</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="single-location mb-30">
                                                <div class="location-img">
                                                    <img src="./assets/img/gallery/Formation-de-base.jpg" alt="">
                                                </div>
                                                <div class="location-details">
                                                    <p>Formation De Base</p>
                                                    <a href="#" class="location-btn"><i class="ti-plus"></i> Voir Détails</a>
                                                </div>
                                            </div>
                                        </div>
                                        
                                                
                                            
                                        
                                        
                                       
                                    </div>
                                    <!-- More Btn -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>

