 <!-- Basic Layout -->
 <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Ajouter  publication</h5>
        <small class="text-muted float-end">Default label</small>
      </div>
      <div class="card-body">
        <form [formGroup]="publicationForm" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-message">Titre de la publication</label>
            <div class="col-sm-10">
                <input
                type="text"
                id="basic-default-text"
                formControlName="titre"
                class="form-control"
                placeholder="tapez le titre de la publication ici."
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-message">Description</label>
            <div class="col-sm-10">
                <input
                type="text"
                id="basic-default-text"
                formControlName="description"
                class="form-control"
                placeholder="tapez la description ici."
                
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" >image</label>
            <div class="col-sm-10">
                <input
                type="file"
                formControlName="image"
                class="form-control"
                multiple
                ng2FileSelect 
                

              
            
                
              />
              
            </div>
          </div>
          
          
          <div class="row justify-content-end">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>