 <!-- Basic Layout -->
 <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Ajouter un commande</h5>
        <small class="text-muted float-end">Default label</small>
      </div>
      <div class="card-body">
        <form [formGroup]="commandeForm" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-message">Nom de commande</label>
            <div class="col-sm-10">
                <input
                type="text"
                id="basic-default-text"
                formControlName="titre"
                class="form-control"
                placeholder="tapez le titre de commande."
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-message">Image</label>
            <div class="col-sm-10">
                <input
                type="NomFormateur"
                id="basic-default-text"
                formControlName="description"
                class="form-control"
                placeholder="inserer l'image ici."
                
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-company">Price</label>
            <div class="col-sm-10">
              <input
              type="Nomber"
              id="basic-default-text"
              formControlName="city"
              class="form-control"
              placeholder="tapez le prix ici."
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-message">Stock</label>
            <div class="col-sm-10">
                <input
                type="Nomber"
                id="basic-default-text"
                formControlName="city"
                class="form-control"
                placeholder="tapez le Stock ici."
              />
            </div>
          </div>

          <div class="row justify-content-end">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Send</button> &nbsp;
              <!-- <button class="btn btn-sm btn-primary" routerLink="/commande">Show all products</button> -->


            </div>
          </div>
        </form>
      </div>
    </div>
  </div>