

<app-navbar-client></app-navbar-client>
<div class="slider-area hero-overly">
    <div class="single-slider hero-overly  slider-height d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9">
                    <div class="popular-location section-padding30">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- Section Tittle -->
                                    <div class="section-tittle text-center mb-80">
                                        <span>Publication</span>
                                        
                                    </div>
                                </div>
                            </div>

                            <app-publication-form>    </app-publication-form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

