
        <app-navbar-client></app-navbar-client>
        <div class="slider-area hero-overly">
            <div class="single-slider hero-overly  slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9">
                            <div class="popular-location section-padding30">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- Section Tittle -->
                                            <div class="section-tittle text-center mb-80">
                                                <span>Evenement</span>
                                                <h2>Evenements</h2>
                                            </div>
                                        </div>
                                    </div>

                                    <app-post-form>    </app-post-form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>

