
<ng-container *ngIf="products.length !=0">

    
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Stock</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td style="width: 25%;">{{item.titre}}</td>
                            <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                            <td style="width: 40%;">{{item.description}}</td>
                            <th style="width: 12%;">{{item.price}}</th>
                            <td style="width: 12%;">{{item.stock}}</td>
                            <td>
                                <button (click)="removeItem(item)" class=" btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Commander</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
                            <td><button routerLink="/listproduit" class="btn btn-primary">Shop More</button></td>
                            <td><button class="btn btn-success">Checkout</button></td>
                            <!-- <td><strong>Grand Total : ${{grandTotal}}</strong></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
            <h3 class="card-title">My Cart</h3>
        <div class="center">
            <img style="width: 60%; height: 60%;" src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
            <h2>Your cart is empty!</h2>
            <h3>Add item to it now</h3>
            <button routerLink="/listproduit" class="btn btn-primary">Shop Now</button>
        </div>
     </div>

    </div>
</ng-container>

<app-homepage-footer></app-homepage-footer>