<div class="row">
  <div class="col col-lg-3"> 
    <app-navbar-admin></app-navbar-admin>
  </div>
  <div class="col col-lg-9">
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4>

<!-- Basic Bootstrap Table -->
<div class="card">
  <div class="row card-header">
    <div class="col">
      <h5 class="">Gestion des commandes</h5>
      </div>
    <div class="col">
      <button class="btn btn-info" (click)="show()" style="float: right">Show </button>
          </div>
  </div>
  
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titre De commande</th>
            <th>Image</th>
            <th>Price</th>
            <th>stock</th>

          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr *ngFor="let commande of commandes; let i = index">
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> 
                <strong>{{commande._id}}</strong></td>
            <td>{{commande.titre}}</td>
            <td>{{commande.image}}</td>
            <td>{{commande.price}}</td>
            <td>{{commande.stock}}</td>


            <td>
              <button class="btn btn-sm btn-primary" routerLink="/update-commande/{{commande._id}}">Edit</button>
              <button class="btn btn-sm btn-danger" (click)="delete(commande._id)">Delete</button>

            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
  <!--/ Basic Bootstrap Table -->
<br>
<!-- <app-commande></app-commande-form> -->
  <app-commande-form ></app-commande-form>
  <router-outlet></router-outlet>

</div>
</div>
