
        <app-navbar-client></app-navbar-client>
        <div class="slider-area hero-overly">
            <div class="single-slider hero-overly  slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9">
                            <div class="popular-location section-padding30">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- Section Tittle -->
                                            <div class="section-tittle text-center mb-80">
                                                <span>Formation</span>
                                                <li class="add-list"><a routerLink="/addformation"><i class="ti-plus"></i>Ajouter une Formation</a></li>
                                               
                                            </div>

                                        </div>
                                    </div>
                                    <div  class="row" >
                                        <div *ngFor="let formation of formations; " class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="single-location mb-30">
                                                <div class="location-img">
                                                    <img [src]="formation.image" alt="" routerLink="/showone{{formation._id}}">
                                                    {{formation.image}}
                                                </div>
                                                <div class="location-details">
                                                    <p routerLink="/showone/{{formation._id}}" >{{formation.TitreDeFormation}} </p> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- More Btn -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>

