
<div class="row">
    <div class="col col-lg-3"> 
      
    </div>
    <div class="col col-lg-9">
  <div class="container-xxl flex-grow-1 container-p-y">
      
  
  <!-- Basic Bootstrap Table -->
 
  <div class="card">
    <div class="row card-header">
      <div class="col">
        <h5 class="">Publication</h5>
        </div>
      
    </div>
    
      <div class="table-responsive text-nowrap">
        <table class="table">
          
          <tbody class="table-border-bottom-0">
            
              
              
              <thead>
                <tr>
                  <th> {{commentaires.description}}</th>
                  
    
                  
              </thead>
              <div *ngFor="let pub of commentaires.image; let i = index">
              <thead ><div class="location-img">
                <img [src]="pub" alt="" width="400" height="300">
                
            </div></thead>
            <!-- <th> {{like}} Likes</th> -->
          </div>
              <td>
                
                
        

                    

              </td>
            
            
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->
  <br>
  
  
  </div>
  </div>