<body>
    <!-- Content -->
    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="index.html" class="app-brand-link gap-2">

                </a>
              </div>
              <!-- /Logo -->
              <h4 class="mb-2">Forget password! 👋</h4>

              <form id="formAuthentication" #f="ngForm" class="mb-3" action="" method="">
                <div class="mb-3">
                  <label for="email" class="form-label">Email or Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter your email or username"
                    autofocus
                    ngModel #p="ngModel"
                  />
                </div>


                <div class="mb-3" [hidden]="!showForget">
                  <label for="email" class="form-label">Code</label>
                  <input
                    type="text"
                    class="form-control"
                    id="code"
                    name="code"
                    placeholder="Enter your code"
                    autofocus
                    ngModel #p="ngModel"
                  />
                </div>

                  <div [hidden]="!showWritePassword">
                    <div class="input-group input-group-merge">
                      <input
                        type="password"
                        id="password"
                        class="form-control"
                        name="password"
                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                        aria-describedby="password"
                        ngModel #p="ngModel"
                      />
                      <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>

                    <div class="input-group input-group-merge mt-3">
                      <input
                        type="password"
                        id="password"
                        class="form-control"
                        name="repeat-password"
                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                        aria-describedby="password"
                        ngModel #p="ngModel"
                      />
                      <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                </div>


                <div class="d-flex my-3">
                  <p *ngIf="res" class="m-auto">{{message}}</p>
                </div>

                <div class="mb-3">
                  <button [hidden]="showCode" class="btn btn-primary d-grid w-100" [disabled]="f.invalid" type="button" (click)="sendForm(f.value)">Envoyer</button>
                  <button [hidden]="!showCode" class="btn btn-primary d-grid w-100" [disabled]="f.invalid" type="button" (click)="verifier(f.value)">Verifier</button>

                </div>
              </form>

              

            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>

    <!-- / Content -->

   

   
  </body>

