
        <app-navbar-client></app-navbar-client>
        <div class="slider-area hero-overly">
            <div class="single-slider hero-overly  slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9">
                            <div class="popular-location section-padding30">
                                <div class="container">
                                    <div class="row">

                                    </div>
                                    <div class="card">
                                      <div class="row card-header">
                                        <div class="col">
                                          <h5 class="">Evenement  {{event.titre}}</h5>
                                          </div>
                                      </div>
                                        <div class="table-responsive text-nowrap">
                                          <table class="table">

                                            <tbody class="table-border-bottom-1">

                                                  <tr>
                                                    <td>
                                                      Description :{{event.description}}
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                      <td>Date debut : {{event.datedebut|date:'mediumDate'}}</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Date fin : {{event.datefin|date:'mediumDate'}}</td>
                                                  </tr>
  
                                                  <tr>      
                                                    <td>Prix : {{event.prix}}</td>
                                                 </tr>
                                                 <tr>      
                                                  <td>Ville : {{event.city}}</td> <td><button class="btn btn-sm btn-info" (click)="checkmeteo(event.city)">Check meteo</button>
                                                    <label>{{meteo}} </label><i class="{{icon}}"></i>
                                                  </td>
                                               </tr>
                                               <tr  >      
                                                 <td><button align="center" class="btn  btn-success" (click)="participer(event._id ,event._id)">Participer</button>
                                                <td><button align="center" class="btn  btn-success" routerLink="/eventposts/{{event._id}}">Posts</button>
                                                <td><button align="center" class="btn  btn-success" (click)="cparticiper(event._id ,event._id)">Annnuler</button>

                                                </td>
                                             </tr>
                                            </tbody>
                                          </table>  
                                        </div>
                                      </div>
                                      {{idEvent}}
                                      <app-post-form [idEvent]="idEvent"> </app-post-form>
                                    <!-- More Btn -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>

