
        <app-navbar-client></app-navbar-client>
        <div class="slider-area hero-overly">
            <div class="single-slider hero-overly  slider-height d-flex align-items-center">
                <div class="container">

                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9">
                            <div class="popular-location section-padding30">
                                <div class="container">
                                    <div class="row">
                                      
                                    </div>
                                    <div *ngFor="let post of posts;">
                                            <div  class="card" >
                                              <div class="row card-header">
                                                <div class="col">
                                                  <h5 class="">Post de   {{post.id_user}}</h5>
                                                  </div>
                                              </div>
                                                <div class="table-responsive text-nowrap">
                                                  <table class="table">

                                                    <tbody class="table-border-bottom-1">


                                                          <tr>
                                                            <td>
                                                              Description :{{post.content}}
                                                            </td>
                                                          </tr>
                                                          <tr>
                                                              <td>date Post : {{post.datepost|date:'mediumDate'}}</td>
                                                          </tr>
                                                        <tr>   
                                                          <td>
                                                            <button align="center" class="btn  btn-success" (click)="aime(post._id ,post._id)">j'aime</button>
                                                            <button align="center" class="btn  btn-success" (click)="notaime(post._id ,post._id)">je n'aime plus</button>
                                                            {{post.jaime.length}}
                                                            {{post.jaimeplus.length}}


                                                        </td>
                                                        </tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                              </div>
                                    <!-- More Btn -->
                                    <br>
                                    <br>
                                    <br>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>

