<div class="d-flex w-100"><h1 class="mx-auto my-5">Edit User</h1></div>
<div class="d-flex w-100 h-100"> 
 <div class="container">
    <div class="card mb-4 m-auto">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Edit user</h5>
        <small class="text-muted float-end">Default label</small>
      </div>
      <div class="card-body">
        <!-- <form [formGroup]="eventForm" (ngSubmit)="onSubmit()"> -->
        <form  #f="ngForm" (ngSubmit)="onSubmit(f.value)">
          <div class="row my-3">
            <label class="col-sm-2 col-form-label" for="basic-default-message">Nom</label>
            <div class="col-sm-10">
                <input
                type="text"
                id="basic-default-text"
                class="form-control"
                placeholder="tapez le nom"
                name="nom"  
                ngModel  
                [(ngModel)]="user.nom"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-message">prenom</label>
            <div class="col-sm-10">
                <input
                type="NomFormateur"
                id="basic-default-text"
                class="form-control"
                placeholder="tapez le prenom"
                name="prenom"  
                ngModel  
                [(ngModel)]="user.prenom"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-company">Date de naissance</label>
            <div class="col-sm-10">
              <input
                type="date"
                class="form-control"
                id="basic-default-date"
                placeholder="dd/mm/yyyy"
                name="date_de_naissance"  
                value="{{user.new_date}}"
                ngModel  
                />
            </div>
          </div>
          
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-message">email</label>
            <div class="col-sm-10">
                <input
                type="NomFormateur"
                id="basic-default-text"
                class="form-control"
                placeholder="tapez le email"
                name="email"  
                ngModel  
                [(ngModel)]="user.email"
              />
            </div>
          </div>
          
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-message">password</label>
            <div class="col-sm-10">
                <input
                type="password"
                id="basic-default-text"
                class="form-control"
                placeholder="tapez le password"
                name="password"  
                ngModel  
                [(ngModel)]="user.password"
              />
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-message">role</label>
            <div class="col-sm-10">
                <!-- <input
                type="NomFormateur"
                id="basic-default-text"
                class="form-control"
                placeholder="tapez le role"
                name="role"  
                ngModel  
                [(ngModel)]="user.role"
              /> -->

              <select name="role" class="form-control"  [(ngModel)]="user.role">
                <option [value]="r" *ngFor="let r of roles" [selected]="r == user.role">{{r}}</option>
            </select>


            </div>
          </div>



          <div class="row">
            <div class="col-sm-12 d-flex">
              <button type="submit" class="btn btn-primary mx-auto">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>