<div class="row">
    <div class="col col-lg-3"> 
      <app-navbar-admin></app-navbar-admin>
    </div>
    <div class="col col-lg-9">
  <div class="container-xxl flex-grow-1 container-p-y">
  
  <!-- Basic Bootstrap Table -->
  <app-publication-form [hidden]="!showForm"></app-publication-form>
    <router-outlet></router-outlet>
  <div class="card">
    <div class="row card-header">
      <div class="col">
        <h5 class="">Gestion des publication</h5>
        </div>
      <div class="col">
        <button class="btn btn-info" (click)="show()"  [hidden]="showForm" style="float: right">New </button>
            </div>
    </div>
    
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>titre</th>
              <th>description</th>

            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <tr *ngFor="let pub of publications; let i = index">
              <td>
                  {{pub.titre}}</td>
              <td>{{pub.description}}</td>
              
              

  
              <td> 
                
                
                  
                  <button class="btn  btn-primary" routerLink="edit-publication/{{pub._id}}">Edit</button></td>
                  <td><button class="btn btn-sm btn-danger" routerLink="ShowOnePub/{{pub._id}}">show</button>
                  <td><button class="btn btn-sm btn-danger" (click)="delete(pub._id, i)">delete</button>

                    

             
                  </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->
    <ul class="pagination justify-content-center">
      <li class="page-item"><button [disabled]="currentPage == 1" class="page-link" (click)="setPage(currentPage-1)">Prev</button></li>
      <li class="page-item {{currentPage == item && 'active'}}" *ngFor="let item of numbers">
        <button class="page-link" *ngIf="(item >= currentPage-2 && item <= currentPage+2)" (click)="setPage(item)">{{item}}</button>
      </li>
      <li class="page-item"><button [disabled]="numPages == 1 || numPages == currentPage" class="page-link" (click)="setPage(currentPage+1)">Next</button></li>
    </ul><!-- Pagination -->
  <br>
  
  
  </div>
  </div>