 <!-- Basic Layout -->
 <div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Ajouter un evenement</h5>
        <small class="text-muted float-end">Default label</small>
      </div>
      <div class="card-body">
        <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-message">Content</label>
            <div class="col-sm-10">
                <input
                type="text"
                id="basic-default-text"
                formControlName="content"
                class="form-control"
                placeholder="tapez le titre de la formation ici."
              />
            </div>
          </div>

          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-default-date">upload image </label>
            <div class="col-sm-10">
              <input
                type="file"
                id="basic-default-phone"
                formControlName="image"

                
              />
            </div>
          </div>



          <div class="row justify-content-end">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>