<div class="row">
    <div class="col col-lg-3"> 
      <app-navbar-admin></app-navbar-admin>
    </div>
    <div class="col col-lg-9">
  <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4>
  
  <!-- Basic Bootstrap Table -->
  <div class="card">
    <div class="row card-header">
      <div class="col">
        <h5 class="">Gestion des posts </h5>
        </div>
      <div class="col">
        <button class="btn btn-info" (click)="show()" style="float: right">New </button>
            </div>
    </div>
    
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>Content</th>
              <th>Date post</th>
              <th>Action</th>


            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <tr *ngFor="let post of posts; let i = index">
            <td>{{post.content}}</td>
            <td>{{post.datepost}}</td>
              <td>
                <button class="btn btn-sm btn-primary" routerLink="/update-event/{{post._id}}">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="delete(post._id)">Delete</button>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->
  <br>
    <app-post-form [hidden]="!showForm"></app-post-form>
    <router-outlet></router-outlet>
  
  </div>
  </div>