<div class="row">
    <div class="col col-lg-3"> 
      <app-navbar-admin></app-navbar-admin>
    </div>
    <div class="col col-lg-9">
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4>
  
   
   <!-- Basic Layout -->
   <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="mb-0">Modifier Formation</h5>
          <small class="text-muted float-end">Default label</small>
        </div>
        <div class="card-body">
          <form [formGroup]="UpdateForm" (ngSubmit)="onUpdate()">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-message">Nom</label>
                <div class="col-sm-10">
                    <input
                    type="text"
                    id="basic-default-text"
                    formControlName="Nom"
                    class="form-control"
                    placeholder="tapez le titre de la formation ici."
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-message">Prenom</label>
                <div class="col-sm-10">
                    <input
                    type="NomFormateur"
                    id="basic-default-text"
                    formControlName="Prenom"
                    class="form-control"
                    placeholder="tapez votre prénom ici."
                    
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-company">Mail</label>
                <div class="col-sm-10">
                  <input
                    type="datetime-local"
                    formControlName="Mail"
                    class="form-control"
                    id="basic-default-text"
                    placeholder="tapez votre adresse mail ici."
                  />
                </div>
              </div>
              
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-date">Date fin </label>
                <div class="col-sm-10">
                  <input
                    type="datetime-local"
                    id="basic-default-phone"
                    formControlName="DateFin"
                    class="form-control"
                    placeholder="dd/mm/yyyy"
                    
                  />
                </div>
              </div>
              
              
          </form>
        </div>
      </div>
    </div>
  </div>
  
  </div>
  