 <!-- Basic Layout -->
 <div class="col-xxl">
  <div class="card mb-4">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="mb-0">Inscription</h5>
      <small class="text-muted float-end">Inscription</small>
    </div>
    <div class="card-body">
      <form [formGroup]="InscriptionForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="basic-default-message">Nom </label>
          <div class="col-sm-10">
              <input
              type="text"
              id="basic-default-text"
              formControlName="Nom"
              class="form-control"
              placeholder="Tapez votre Nom ici."
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="basic-default-message">Prenom</label>
          <div class="col-sm-10">
              <input
              type="text"
              id="basic-default-text"
              formControlName="Prenom"
              class="form-control"
              placeholder="tapez votre Prénom ici."
              
            />
          </div>
        </div>
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="basic-default-company">Mail</label>
          <div class="col-sm-10">
            <input
              type="text"
              formControlName="Mail"
              class="form-control"
              id="basic-default-text"
              placeholder="Tapez votre adresse Mail ici"
            />
          </div>
        </div>
        
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="basic-default-date">Formation </label>
          <div class="col-sm-10">
<label>{{formations.TitreDeFormation}}</label>
          </div>
        </div>
        
        
        <!-- <div class="row mb-3">
          <label class="col-sm-2 col-form-label" for="basic-default-message">Type</label>
          <div class="col-sm-10">
            <select formControlName="Type" [(ngModel)]="selectedType">
              
            </select>
          </div>
          </div> -->
        <div class="row justify-content-end">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Valider</button>
            <!-- <button type="submit" routerLink="/listformation" class="btn btn-primary">Valider</button> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
