
        <app-navbar-client></app-navbar-client>
        <div class="slider-area hero-overly">
            <div class="single-slider hero-overly  slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9">
                            <div class="popular-location section-padding30">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- Section Tittle -->
                                            <div class="section-tittle text-center mb-80">
                                                <span>Evenement</span>
                                                <li class="add-list"><a routerLink="/addevent"><i class="ti-plus"></i>Ajouter evenement</a></li>
                                                <li class="add-list"><a routerLink="/myevents"><i class="ti-plus"></i>Mes evenements</a></li>
                                            </div>

                                        </div>
                                    </div>
                                    <div  class="row" >
                                        <div *ngFor="let event of events; " class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="single-location mb-30" routerLink="/oneeventfront/{{event._id}}" >
                                                <div class="location-img">
                                                    <img [src]="event.image" alt="">
                                                    {{event.image}}
                                                </div>
                                                <div class="location-details">
                                                    <p >{{event.titre}} </p> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- More Btn -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>

