
<div class="row">
    <div class="col col-lg-3"> 
      <app-navbar-admin></app-navbar-admin>
    </div>
    <div class="col col-lg-9">
  <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4>
  <!-- Basic Bootstrap Table -->
  <div class="card">
    <div class="row card-header">
      <div class="col">
        <h5 class="">Evenement</h5>
        </div>
    </div>
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>Evenement</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
              <thead>
                <tr>
                  <th> {{event.titre}}</th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th> {{event.description}}</th>
                  <button class="btn btn-sm btn-danger" (click)="checkmeteo(event.city)">Check meteo</button>
              </thead>
  
              <td>
              </td>
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->
  <br>
  </div>
  </div>