<div class="row">
    <div class="col col-lg-3"> 
      <app-navbar-admin></app-navbar-admin>
    </div>
    <div class="col col-lg-9">
  <div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4>
  
   
   <!-- Basic Layout -->
   <div class="col-xxl">
      <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="mb-0">Modifier Publication</h5>
          <small class="text-muted float-end">Default label</small>
        </div>
        <div class="card-body">
          <form [formGroup]="UpdateForm" (ngSubmit)="onUpdate()">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-message">Titre De Publication</label>
                <div class="col-sm-10">
                    <input
                    type="text"
                    id="basic-default-text"
                    formControlName="titre"
                    class="form-control"
                    placeholder="tapez le titre de la publication ici."
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-message">descriptionr</label>
                <div class="col-sm-10">
                    <input
                    type="text"
                    id="basic-default-text"
                    formControlName="description"
                    class="form-control"
                    placeholder="tapez la description de la publication  ici."
                    
                  />
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label" for="basic-default-message">image</label>
                <div class="col-sm-10">
                    <input
                    type="file"
                    id="basic-default-text"
                    formControlName="image"
                    class="form-control"
                    
                    
                  />
                </div>
              </div>
              
              
              
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Send</button>
              </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
  
  </div>
  