<div class="row">
  <div class="col col-lg-3"> 
    <app-navbar-admin></app-navbar-admin>
  </div>
  <div class="col col-lg-9">
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4>

<!-- Basic Bootstrap Table -->
<div class="card">
  <div class="row card-header">

            <ul class="pagination justify-content-center">
              <li class="page-item"><button [disabled]="currentPage == 1" class="page-link"
                      (click)="setPage(currentPage-1)">Prev</button></li>
              <li class="page-item {{currentPage == item && 'active'}}"
                  *ngFor="let item of numbers">
                  <button class="page-link"
                      *ngIf="(item >= currentPage-2 && item <= currentPage+2)"
                      (click)="setPage(item)">{{item}}</button>
              </li>
              <li class="page-item"><button
                      [disabled]="numPages == 1 || numPages == currentPage" class="page-link"
                      (click)="setPage(currentPage+1)">Next</button></li>
          </ul><!-- Pagination -->

    <div class="col">
      <h5 class="">Gestion des produits</h5>
      </div>
    <div class="col">
      <button class="btn btn-info" (click)="show()" style="float: right">Show </button>
          </div>
  </div>
  
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titre De produit</th>
            <th>Image</th>
            <th>Price</th>
            <th>stock</th>

          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr *ngFor="let produit of produits; let i = index">
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> 
                <strong>{{produit._id}}</strong></td>
            <td>{{produit.titre}}</td>
            <td>{{produit.image}}</td>
            <td>{{produit.price}}</td>
            <td>{{produit.stock}}</td>


            <td>
              <button class="btn btn-sm btn-primary" routerLink="/update-produit/{{produit._id}}">Edit</button>
              <button class="btn btn-sm btn-danger" (click)="delete(produit._id)" (click)="reloadCurrentPage()">Delete</button>

            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
  <!--/ Basic Bootstrap Table -->
<br>
<!-- <app-produit></app-produit-form> -->
  <app-produit-form ></app-produit-form>
  <router-outlet></router-outlet>

</div>
</div>
