<app-navbar-client></app-navbar-client>
<div class="slider-area hero-overly">
    <div class="single-slider hero-overly  slider-height d-flex align-items-center">
        <div class="container">
            
                <div class="col-xl-12 col-lg-12">
                    <div class="popular-location section-padding30">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- Section Tittle -->
                                    <div class="section-tittle text-center mb-80">
                                        <span>Publication</span>
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                            <app-show-one-pub >    </app-show-one-pub>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

