<div class="row">
  <div class="col col-lg-3"> 
    <app-navbar-admin></app-navbar-admin>
  </div>
  <div class="col col-lg-9">
<div class="container-xxl flex-grow-1 container-p-y">
   

<!-- Basic Bootstrap Table -->
<div class="card">
  <div class="row card-header">
    <div class="col">
      <h5 class="">Gestion des formations</h5>
      </div>
    <div class="col">
      <!-- <button class="btn btn-info" (click)="show()" style="float: right">New </button> -->
      <button class="btn btn-info" routerLink="/listformation" style="float: right"><i class="ti-plus"></i>Retour</button>
          </div>
  </div>
  
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titre De Formation</th>
            <th>Nom Formateur</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Description</th>
            <th>Nombre De Particiants</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr *ngFor="let formation of formations;">
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> 
            <strong>{{formation._id}}</strong></td>
            <td>{{formation.TitreDeFormation}}</td>
            <td>{{formation.NomFormateur}}</td>
            <td>{{formation.DateDebut}}</td>
            <td>{{formation.DateFin}}</td>
            <td>{{formation.Description}}</td>
            <td>{{formation.NombreDeParticiants}}</td>
       
            <td>

                  <button class="btn btn-sm btn-primary" routerLink="/edit-formation/{{formation._id}}">Edit</button>
                  <button class="btn btn-sm btn-danger" (click)="delete(formation._id)" (click)="reloadCurrentPage()" >Delete</button>


            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
  <!--/ Basic Bootstrap Table -->
<br>
  <app-formation-form [hidden]="!showForm"></app-formation-form>
  <router-outlet></router-outlet>

</div>
</div>