
        <app-navbar-client></app-navbar-client>
        <div class="slider-area hero-overly">
            <div class="single-slider hero-overly  slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9">
                            <div class="popular-location section-padding30">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- Section Tittle -->
                                            <div class="section-tittle text-center mb-80">
                                                <span>Publication</span>
                                                
                                                <li class="add-list"><a routerLink="/addpublication"><i class="ti-plus"></i>ajouter une publication </a></li>

                                            </div>
                                        </div>
                                    </div>
                                    <div  class="row" ></div>
                                    
                                        <div *ngFor="let publication of publications; " class="col-lg-8 col-md-4 col-sm-4">
                                            <a routerLink="OneShow/{{publication._id}}">
                                            <div class="single-location mb-30">
                                                <div class="location-img">
                                                    <img [src]="publication.image" alt="">
                                                   
                                                </div>
                                                <div class="location-details">
                                                    <p>{{publication.titre}}</p> 
                                                </div>

                                            </div>
                                        </a>
                                        </div>
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item"><button [disabled]="currentPage == 1" class="page-link" (click)="setPage(currentPage-1)">Prev</button></li>
                                            <li class="page-item {{currentPage == item && 'active'}}" *ngFor="let item of numbers">
                                              <button class="page-link" *ngIf="(item >= currentPage-2 && item <= currentPage+2)" (click)="setPage(item)">{{item}}</button>
                                            </li>
                                            <li class="page-item"><button [disabled]="numPages == 1 || numPages == currentPage" class="page-link" (click)="setPage(currentPage+1)">Next</button></li>
                                          </ul><!-- Pagination -->

<!-- 
              <div class="d-flex justify-content-start">
                <p class="my-auto mr-4">
                  Affichage de {{totalItems}} sur {{totalExemples}} éléments
                </p>
              </div> -->
                                    </div>
                                    </div>
                                 
                                      
                                        
                                        
                                    <!-- More Btn -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

         
        

