
<div class="row">
  <div class="col col-lg-3"> 
  </div>
  <div class="col col-lg-9">
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> Basic Tables</h4>
<!-- Basic Bootstrap Table -->
<div class="card">
  <div class="row card-header">
    <div class="col">
      <h5 class="">Détail de la Formation</h5>
      </div>
  </div>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          
        </thead>
        <tbody class="table-border-bottom-0">
            <thead>
              <tr>
                <th> {{formations.TitreDeFormation}}</th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th> {{formations.NomFormateur}}</th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th> {{formations.Description}}</th>
            </thead>
            <thead>
              <tr>
                <th> {{formations.DateDebut}}</th>
            </thead>
            <thead>
              <tr>
                <th> {{formations.DateFin}}</th>
            </thead>

            <td>
              <li class="add-list"><a routerLink="/addinscription"><i class="ti-plus"></i>S'inscrire</a></li>
            </td>
        </tbody>
      </table>
    </div>
  </div>
  <li class="add-list"><a routerLink="/addinscription/{{formations._id}}"><i class="ti-plus"></i>S'inscrire</a></li>

  <!--/ Basic Bootstrap Table -->
<br>
</div>
</div>