/* You can add global styles to this file, and also import other style files */
html,body{
    height: 100%!important;
    max-height: 100%!important;
    width: 100%!important;
    max-width: 100%!important;
    /* background-color: brown!important; */
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
