<app-navbar-client-produit></app-navbar-client-produit>
<main>

<div class="row mt-5" style="margin-top: 200px!important;">
    <div class="col-3 p-5" >
        <div class="accordion" id="accordionExample">

            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <a class="text-left" (click)="afficherTous()">
                  afficher tous
                </a>
              </h2>
            </div>

            <div class="card" *ngFor="let item of catProduits; let index = index;">
                
                
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <a class="text-left"  data-toggle="collapse" data-target="#collapseOne{{item.cat.id}}" aria-expanded="true" >
                    {{ item.cat.titre }}
                  </a>
                </h2>
              </div>
          
              <div id="collapseOne{{item.cat.id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                   <li (click)="setCat(sousCat._id)" *ngFor="let sousCat of item.sousCat">{{sousCat.titre}}</li>
                </div>
              </div>
            </div>

            <!-- <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  Some placeholder content for the second accordion panel. This panel is hidden by default.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
                </div>
              </div>
            </div> -->
          </div>
    </div>
        <!-- Content -->   
    <div class="col-9">

                    <!-- Layout container -->
                    <div class="layout-page">
                        <!-- Navbar -->
        
                        <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                            id="layout-navbar">
                            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                                <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                                    <i class="bx bx-menu bx-sm"></i>
                                </a>
                            </div>
        
                            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                                <!-- Search -->
                                <!-- <div class="navbar-nav align-items-center">
                                    <div class="nav-item d-flex align-items-center">
                                        <i class="bx bx-search fs-4 lh-0"></i>
                                        <input type="text" class="form-control border-0 shadow-none" placeholder="Search..."
                                            aria-label="Search..." /> -->
                                            <!-- <li class="add-list"><a routerLink="/addproduit"><i class="ti-plus" ></i>add</a></li> -->

                                    <!-- </div> -->
                                <!-- </div> -->
                                <!-- /Search -->
        
                                <!-- <div class="container">
                                    <div class="search-produit">
                                        <input class="form-control" type="text" name="search" [(ngModel)]="searchbyname" autocomplete="on" placeholder=" Search product by name ">
                                    </div>
                                    <ul *ngFor="let produit of produits | filter:searchText">
                                        <li>
                                            <span>{{produit.name}</span>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                        </nav>
                        <!-- / Navbar -->
                    </div>
                    <!-- Content wrapper -->
                    <div class="content-wrapper ">
                        <!-- Content -->
                        <div class="animated fadeIn">
                            <!-- <div class="row  my-5">
                                <div class="col-12">
                                    <h1>Produit</h1><br>
                                </div>
                                <div class="col-6">
                                    <a [routerLink]="['/addproduit']" class="btn btn-block btn-success"
                                        style="width: fit-content;">Ajouter</a>
                                </div>
                            </div> -->
        
                            <!-- number pages -->
                            <div class="d-flex mb-2 mt-5">
                                <!-- Number items -->
                                <label class="my-auto mr-3">
                                    Afficher
                                </label>
                                <select class="form-control  mr-3 w-auto my-auto" name="status" [(ngModel)]="params.limit"
                                    (ngModelChange)="searchStatus()">
                                    <option [value]="item" *ngFor="let item of numberItemsFilterList">{{item}}</option>
                                </select><!-- Number items -->
                                <label class="my-auto">
                                    éléments
                                </label>
                            </div><!-- number pages -->
        
                            <div class="row justify-content-center mt-5" style="overflow: hidden;">
                                <div class="col-lg-{{colTable}}">
                                    
                                <div class="row">
                                    <div class="col-lg-3 card" style="width: 18rem;" *ngFor="let produit of produits">
                                    <div class="">
                                        
                                        <img src="{{produit.image}}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">{{produit.titre}}</h5>
                                            <p class="card-text">{{produit.price}}</p>
                                            <a href="#" class="btn btn-primary" (click)=addtocart(produit) routerLink="/panier">Add Product</a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="card">
                                        <div class="card-body" style="overflow-x: auto;">
                       
        
                                            <!-- Pagination -->
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item"><button [disabled]="currentPage == 1" class="page-link"
                                                        (click)="setPage(currentPage-1)">Prev</button></li>
                                                <li class="page-item {{currentPage == item && 'active'}}"
                                                    *ngFor="let item of numbers">
                                                    <button class="page-link"
                                                        *ngIf="(item >= currentPage-2 && item <= currentPage+2)"
                                                        (click)="setPage(item)">{{item}}</button>
                                                </li>
                                                <li class="page-item"><button
                                                        [disabled]="numPages == 1 || numPages == currentPage" class="page-link"
                                                        (click)="setPage(currentPage+1)">Next</button></li>
                                            </ul><!-- Pagination -->
        
                                            <div class="d-flex justify-content-start">
                                                <p class="my-auto mr-4">
                                                    Affichage de {{totalItems}} sur {{totalExemples}} éléments
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- <div class="col-lg-{{colElement}} solo-show fadeIn"  *ngIf="showSoloExemple"> -->
                                <!-- <app-show [soloExemple]="soloExemple" (closeShow)="closeShow()"></app-show> -->
                            </div>
                        </div>
                        </div>
    </div>
</div>
</div>
  
</main>
<app-homepage-footer></app-homepage-footer>