<div class="row">
    <div class="col col-lg-3"> 
      <app-navbar-admin></app-navbar-admin>
    </div>
    <div class="col col-lg-9">
  <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4>
  
  <!-- Basic Bootstrap Table -->
  <div class="card">
    <div class="row card-header">
      <div class="col">
        <h5 class="">Gestion des evenements</h5>
        </div>
      <div class="col">
        <button class="btn btn-info" (click)="show()" style="float: right">New </button>
            </div>
    </div>
    
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>Titre De l'evenement</th>
              <th>Date debut</th>
              <th>Date fin</th>
              <th>Action</th>


            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            <tr *ngFor="let event of events; let i = index">

              <td>{{event.titre}}</td>
              <td>{{event.datedebut}}</td>
              <td>{{event.datefin}}</td>

  
              <td>
                <button class="btn btn-sm btn-primary" routerLink="/update-event/{{event._id}}">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="delete(event._id)">Delete</button>
                <button class="btn btn-sm btn-danger"  routerLink="/oneevent/{{event._id}}">Affiche</button>

              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
    <!--/ Basic Bootstrap Table -->
  <br>
    <app-evenement-form [hidden]="!showForm"></app-evenement-form>
    <router-outlet></router-outlet>
  
  </div>
  </div>